<div class="wrap" @titleAnimation>
    <h2>О клинике</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, saepe expedita. Rerum dolores itaque optio
        impedit. Fugit, dolores quos? Sunt minus illum repudiandae. Nihil placeat distinctio iusto, dolores quidem
        velit.
    </p>
    <p>
        Similique ut, aliquam ullam dicta doloremque facere pariatur iste nemo dolor voluptate provident! Tempora alias
        placeat nam architecto culpa vero eveniet sequi a minus? Corrupti eligendi doloremque aspernatur impedit ipsam.
        Eligendi hic sapiente maxime, fugiat reiciendis laudantium quae, quidem aut ipsa quia officia nam quo, totam
        libero ullam sunt obcaecati consectetur id quas a ab culpa. Expedita dicta ab vel!
    </p>
    <i-carousel></i-carousel>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, quae tempora aut ex esse quasi eveniet dolores
        provident vel fuga nesciunt voluptatibus distinctio debitis, quibusdam repudiandae eius fugit quod consequuntur.
        Nostrum optio itaque omnis architecto ad maxime quam, quibusdam dignissimos aliquam quidem deleniti sed libero
        facilis saepe recusandae! Vel itaque aperiam perferendis atque dolorum? Minus doloribus facilis ipsum.
        Perspiciatis, rerum?
    </p>
</div>