<div id="galery-viewer-background" class="background" (click)="backgroundClick($event)">
    <div class="close">
        <img src="/assets/icons/close.svg" (click)="close()" alt="CLOSE">
    </div>
    <img [src]="'/assets/fake/' + image.name" (click)="next()" [alt]="image.name">
    <div class="thumbs">
        <div *ngFor="let thumb of thumbs" [ngClass]="{'thumbs-item': true, 'selected': thumb.id == image.id}"
            (click)="selectImage(thumb)" style="background-image: url(/assets/fake/{{thumb.name}});"></div>
    </div>
</div>