<div class="wrap col" @titleAnimation>

    <img *ngFor="let image of licenseImages" [src]="image.medium" (click)="showViewer(image)" class="license center" />

    <a *ngFor="let pdf of licensePDFs" [href]="pdf" download="Ortum. Лицензия" class="download">
        <img src="/assets/icons/download-outline.svg" alt="DOWMLOAD">
        <span>Лицензия на осуществление медицинской деятельности</span>
    </a>

    <i-galery-viewer *ngIf="activeImage" [image]="activeImage" [thumbs]="[licenseImage]"
        (onSelectImage)="showViewer($event)" (onClose)="hideViewer()"></i-galery-viewer>
</div>