<div class="wrap">
    <div class="container">
        <div class="col">
            <h4>Клиника</h4>
            <a [routerLink]="['/about']">
                О клинике
                <img src="/assets/icons/chevron-forward.svg" alt=">>">
            </a>
            <a [routerLink]="['/about/license']">
                Лицензия
                <img src="/assets/icons/chevron-forward.svg" alt=">>">
            </a>
        </div>
        <div class="col">
            <h4>Услуги</h4>
            <a [routerLink]="['/services']">
                Список услуг
                <img src="/assets/icons/chevron-forward.svg" alt=">>">
            </a>
            <a [routerLink]="['/services/programs']">
                Программы
                <img src="/assets/icons/chevron-forward.svg" alt=">>">
            </a>
            <a [routerLink]="['/services/price']">
                Прайс
                <img src="/assets/icons/chevron-forward.svg" alt=">>">
            </a>
        </div>
        <div class="col">
            <h4>Прочее</h4>
            <a [routerLink]="['/contact']">
                Контакты
                <img src="/assets/icons/chevron-forward.svg" alt=">>">
            </a>
            <a [routerLink]="['/articles']">
                Статьи
                <img src="/assets/icons/chevron-forward.svg" alt=">>">
            </a>
            <a [routerLink]="['/about/galery']">
                Фото
                <img src="/assets/icons/chevron-forward.svg" alt=">>">
            </a>
        </div>

    </div>
</div>