<div class="wrap">
    <div class="container">
        <h4>Footer</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis praesentium ad incidunt magni expedita
        provident dicta ipsum quis unde at labore, odio molestiae laborum ex, neque aliquid atque itaque nam.
        Atque libero vero veritatis autem asperiores inventore similique deleniti velit maiores fuga enim id eos, ab
        eius nulla maxime temporibus impedit accusantium? Ratione cumque obcaecati corrupti eaque, vel quod qui!
    </div>
</div>