<div class="wrap col" @titleAnimation>
    <ng-container [ngTemplateOutlet]="download"></ng-container>

    <table>
        <thead>
            <td></td>
            <td>Наименование / Описание</td>
            <td>Цена</td>
        </thead>
        <tbody>
            <tr *ngFor="let ctor of ctors; let index = index">
                <td>{{index + 1}}</td>
                <td>
                    <p> {{ctor.title}} </p>
                    <p> {{ctor.subtitle}} </p>
                </td>
                <td>{{ctor.price}}&nbsp;&#8381;</td>
            </tr>
        </tbody>
    </table>

    <ng-container [ngTemplateOutlet]="download"></ng-container>
</div>

<!-- DOWNLOAD -->
<ng-template #download>
    <a href="/assets/fake/category1.jpg" download="Ortum. Прайс-лист" class="download">
        <span>Скачать прайс (PDF)</span>
        <img src="/assets/icons/download-outline.svg" alt="DOWMLOAD">
    </a>
</ng-template>