<div class="wrap col" @titleAnimation>
    <ng-container [ngTemplateOutlet]="download"></ng-container>

    <table>
        <thead>
            <td></td>
            <td>Наименование / Описание</td>
            <td>Цена</td>
        </thead>
        <tbody>
            <tr *ngFor="let service of services; let index = index">
                <td>{{index + 1}}</td>
                <td>
                    <p>Услуга № {{service}}</p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio ut repellendus vitae dicta
                        tempora vero quo ullam voluptatem dolorum id illo, necessitatibus aperiam. Temporibus labore
                        adipisci atque, maxime magnam nesciunt!
                    </p>
                </td>
                <td>{{1000 + service * 300}}&nbsp;&#8381;</td>
            </tr>
        </tbody>
    </table>

    <ng-container [ngTemplateOutlet]="download"></ng-container>
</div>

<!-- DOWNLOAD -->
<ng-template #download>
    <a href="/assets/fake/category1.jpg" download="Ortum. Прайс-лист" class="download">
        <span>Скачать прайс (PDF)</span>
        <img src="/assets/icons/download-outline.svg" alt="DOWMLOAD">
    </a>
</ng-template>