<div class="wrap">
    <div class="thumbs">
        <img *ngFor="let image of images" [src]="'/assets/fake/' + image.name" [alt]="image.name"
            [ngClass]="{'thumbs-item': true}" (click)="showViewer(image)">

        <!-- <div *ngFor="let image of images" (click)="showViewer(image)" class="thumbs-item"
            style="background-image: url(/assets/fake/{{image.name}});"></div> -->
    </div>
</div>

<i-galery-viewer *ngIf="activeImage" [image]="activeImage" [thumbs]="images" (onSelectImage)="showViewer($event)"
    (onClose)="hideViewer()"></i-galery-viewer>