* {
  --color-primary: #aad576;
  --color-secondary: #73a942;
  /*
  --color-primary: #F4770B;
  --color-secondary: #B9BAC5;
  */
  --color-light: #ebebeb;
  --color-text: #321a31;
  --color-success: #6ba56d;
  --color-warning: rgb(224, 224, 0);
  --color-danger: #f62915;
  --color-bg: #fcfcfc;
}

/*
  --color-primary: rgb(240, 140, 0);
  --color-secondary: rgb(201, 201, 201);
  --color-text: rgb(109, 114, 122);
  --color-success: rgb(0, 150, 25);
  --color-warning: rgb(240, 240, 0);
  --color-danger: rgb(200, 52, 52);
  --color-bg: rgb(237, 244, 251);
*/
