* {
  --color-primary: #F4770B;
  --color-secondary: #B9BAC5;
  --color-light: #EBEBEB;
  --color-text: #321A31;
  --color-success: #6BA56D;
  --color-warning: rgb(224, 224, 0);
  --color-danger: #F62915;
  --color-bg: #FCFCFC;
}

/*
  --color-primary: rgb(240, 140, 0);
  --color-secondary: rgb(201, 201, 201);
  --color-text: rgb(109, 114, 122);
  --color-success: rgb(0, 150, 25);
  --color-warning: rgb(240, 240, 0);
  --color-danger: rgb(200, 52, 52);
  --color-bg: rgb(237, 244, 251);
*/
