<div #background class="wrap">

  <i-header [menuVisible]="menuVisible" (onToggleMenu)="toggleMenu()"></i-header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <i-footer></i-footer>

  <i-call-me telegramToken="1981078602:AAHx91xSEakqFEgfR2gElS_U4LDn4fOpcvc" telegramChatId="-1001526670789" [minified]="callMeMinified" (onToggle)="toggleCallMe()"></i-call-me>

  <aside *ngIf="asideVisible" (click)="backClick($event)" @menuBackAnimation>
    <i-menu *ngIf="menuVisible" [menu]="menu" (onToggleMenuItem)="toggleMenuItem($event)" (onHide)="hideMenu()"
      @menuAnimation></i-menu>
  </aside>
</div>