<div class="wrap col" @titleAnimation>
    <div *ngFor="let position of positions" class="position">
        <div class="head" (click)="selectPosition(position)">
            <h5>Position {{position}}</h5>
        </div>
        <i-collapsible [expanded]="position == activePosition">
            <div class="description">
                <hr>
                <p>
                    <strong>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae est veritatis fugit aut
                        tenetur nobis odio! Molestias, accusamus eveniet adipisci deserunt dolores expedita porro, quasi
                        repellat autem exercitationem ex praesentium?
                    </strong>
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugiat porro ratione aperiam quos
                    exercitationem quis suscipit provident, expedita, voluptatem minus iusto doloremque voluptates
                    ullam. Doloribus mollitia consequatur architecto pariatur!
                    Tenetur labore quaerat rem consequatur voluptatem quas harum, ab, veritatis dolor beatae at eveniet
                    nisi. Delectus neque dolore magnam eligendi, ex perferendis modi qui fugiat sapiente sequi
                    explicabo, quo suscipit!
                </p>
            </div>
        </i-collapsible>
    </div>
</div>