* {
    --carousel-item-width: 50%;
    --carousel-item-gap: 40px;
    --carousel-dot-size: 8px;
}

@media (max-width: 767px) {
    * {
        --carousel-item-width: 75%;
        --carousel-item-gap: 4vw;
    }
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .item {
        position: absolute;
        top: 0px;
        bottom: 20px;
        width: var(--carousel-item-width);
        transition: .4s;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, .06);
            border-radius: 12px;
        }

        @media (max-width: 767px) {
            img {
                border-radius: 1vw;
            }
        }

        &.prev2 {
            left: calc(50% - var(--carousel-item-width) * 2.5 - var(--carousel-item-gap) * 2);
        }

        &.prev {
            left: calc(50% - var(--carousel-item-width) * 1.5 - var(--carousel-item-gap));
        }

        &.active {
            left: calc(50% - var(--carousel-item-width) * 0.5);
        }

        &.next {
            left: calc(50% + var(--carousel-item-width) * 0.5 + var(--carousel-item-gap));
        }

        &.next2 {
            left: calc(50% + var(--carousel-item-width) * 1.5 + var(--carousel-item-gap) * 2);
        }

    }

    .cover {
        background: linear-gradient(to right, var(--color-bg) 0%, transparent 15%, transparent 85%, var(--color-bg) 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
            width: 100%;
        }

        &.right {
            right: 0;
        }

        &.left {
            left: 0;

            img {
                transform: rotate(180deg);
            }
        }

        @media (max-width: 767px) {
            width: 7vw;
        }
    }

    .dots {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: calc(var(--carousel-dot-size) * 3);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--carousel-dot-size);

        &-item {
            width: var(--carousel-dot-size);
            height: var(--carousel-dot-size);
            border-radius: 50%;
            border: solid 1px var(--color-secondary);

            &.active {
                background-color: var(--color-secondary);
            }
        }
    }
}