<div class="wrap" @pageAnimation>
    <div class="container">
        <h1>Клиника ОРТУМ</h1>
        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus error odio culpa?</h3>
        <div class="blocks">
            <div class="blocks-item">
                <div class="blocks-item-info">
                    <h4>О клинике</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quod molestias debitis,
                        dolorem
                        provident nesciunt sed unde dolore! Recusandae porro in doloremque?</p>
                </div>
                <div [routerLink]="['/about']" class="blocks-item-link">
                    Подробнее
                    <img src="/assets/icons/chevron-forward.svg" alt=">>">
                </div>
            </div>
            <div class="blocks-item">
                <div class="blocks-item-info">
                    <h4>Услуги</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="blocks-item-link">
                    Подробнее
                    <img src="/assets/icons/chevron-forward.svg" alt=">>">
                </div>
            </div>
            <div class="blocks-item promo">
                <div class="blocks-item-info">
                    <h4>
                        Акция
                        <img src="/assets/icons/gift.svg" alt="GIFT">
                    </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="blocks-item-link">
                    Подробнее
                    <img src="/assets/icons/chevron-forward.svg" alt=">>">
                </div>
            </div>
        </div>
    </div>
</div>