<div class="wrap col" @pageAnimation>
    <h1>Клиника ОРТУМ</h1>
    <hr>
    <div class="text">
        <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga a optio sapiente? Dolore nihil
            totam, et doloribus soluta animi neque officia iure? Dolorem aliquid itaque laudantium commodi, veniam
            id.
        </h3>
        <hr>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, sed eos libero itaque hic optio
            recusandae, aliquid eligendi officiis fugiat excepturi. Labore aperiam in rerum necessitatibus eaque
            optio nihil odio.
            Ipsum dolores cum deserunt atque porro quas earum totam, eligendi quisquam quis odit explicabo velit
            iusto repellendus eum esse, ullam illo a? Assumenda optio repellat, aliquid excepturi odit pariatur
            nihil.
            Quod rem voluptatibus recusandae architecto consequuntur officiis itaque maxime illo? Libero est
            laboriosam praesentium a commodi autem natus aliquam unde facere consectetur vel blanditiis eaque, quas
            neque nulla dolorum tempora?
        </p>
    </div>
</div>